**Lab 1: Introductory Lab**  

**Objective**

The objective of this lab is to introduce fundamental Python programming concepts to beginners. By the end of this lab, students will be able to:  

1. Understand and use the `print()` command for output.  
2. Identify and work with basic data types: integer, float, string, and boolean.  
3. Learn how to create and use variables.  
4. Take user input and perform simple operations with it.  
5. Understand the use of `type()` to determine the data type of a variable.

1. Hello World

In [ ]:
print("Hello, World!")

2. Practicing Print Command

In [1]:
print('This is my first lab')

This is my first lab

3. Integer

In [2]:
x = 45
print(x)
print(type(x))

45
<class 'int'>

4. Float

In [3]:
y = 3.14
print(y)
print(type(y))

3.14
<class 'float'>

5. String

In [7]:
name = "Azka"
print(name)
print(type(name))

Azka
<class 'str'>

6. Variables and Input

In [8]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print("Hello", name, "you are", age, "years old.")

Hello Azkaa Karim you are 20 years old.